body{
    text-align: center;
    background-color: #86eafe;
    font-family: Arial, sans-serif;
    display: flex;
}
.principal{
    width: 500px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    color: #000;
}
.principal h1{
    font-size: 2em;
}
h2{
    text-align: center;
    color: #808080; 
}
